@model WhatSAP.Models.CartViewModel
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">SAVED ACTIVITIES</h1>
    </div>
</section>

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">   </th>
                            <th scope="col">Activity Name</th>
                            <th scope="col">Activity Date</th>
                            <th scope="col" class="text-center">Number of People</th>
                            <th scope="col" class="text-right">Price</th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Activities.Count() == 0)
                        {
                            <tr>
                                <td>There is no saved activities</td>
                            </tr>
                        }
                        @for (int i = 0; i < Model.Activities.Count(); i++)
                        {
                            <tr>
                                <td><img src="~/images/activities/@(Model.Activities.ElementAt(i).Key).jpg" /> </td>
                                <td>@Model.Activities.ElementAt(i).ActivityName</td>
                                <td>@Model.Activities.ElementAt(i).ActivityDate</td>
                                <td><input class="form-control" type="text" value="1" /></td>
                                <td class="text-right">@Model.Activities.ElementAt(i).Price</td>
                                <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                            </tr>
                        }
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>Sub-Total</td>
                            <td class="text-right">@Model.Total</td> 
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><strong>Total</strong></td>
                            <td class="text-right"><strong>@(Model.Total * 1.13)</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <button class="btn btn-block btn-light" href="@Url.Action("Search", "Activity")">Looking more Activities</button>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <button class="btn btn-lg btn-block btn-success text-uppercase" href="#">Checkout</button> @*TODO: Implemented Payment*@
                </div>
            </div>
        </div>
    </div>
</div>